@use 'sass:list';
$outerBoxBorderColor: black;
$boxColors: red, purple, blue, green,yellow;
$boxColors: list.append($boxColors, aliceblue);
$boxColors: list.append($boxColors, antiquewhite);
$boxColors: list.append($boxColors, aqua);
$boxColors: list.append($boxColors, rgb(36, 18, 53));
$boxColors: list.append($boxColors, rgb(7, 7, 7));
$boxColors: list.append($boxColors, rgb(18, 52, 7));
$boxColors: list.append($boxColors, rgb(255, 0, 162));
$boxColors: list.append($boxColors, rgb(236, 225, 225));
$boxColors: list.append($boxColors, rgb(225, 255, 0));
$boxColors: list.append($boxColors, rgba(255, 174, 0, 0.516));
$boxColors: list.append($boxColors, rgb(35, 3, 81));
$boxColors: list.append($boxColors, rgb(35, 4, 23));
$boxColors: list.append($boxColors, rgb(83, 180, 160));
$boxColors: list.append($boxColors, rgb(111, 61, 255));
$boxColors: list.append($boxColors, rgb(52, 123, 120));
$boxColors: list.append($boxColors, rgb(9, 210, 8));
$boxColors: list.append($boxColors, rgb(210, 255, 0));
$boxColors: list.append($boxColors, rgb(33, 233, 90));
$boxColors: list.append($boxColors, rgb(189, 156, 130));
$boxColors: list.append($boxColors, rgb(190, 200, 199));
$boxColors: list.append($boxColors, rgb(3, 100, 49));
$boxColors: list.append($boxColors, rgb(69, 69, 142, 0.444));
$boxColors: list.append($boxColors, rgba(178, 0, 136, 0.444));