$theme-blackAndWhite: (
    html: (
        background-color: #000000,
        color: #000000
    ),

    main: (
        background-color: #ffffff,
        color : #000000
    ),

    header :(
        background-color: #7fffd4,
        color: #000000
    ),


    navPane :(
        background-color: #9acd32,
        color: #472E2E
    )
);