$theme-rosettesAndCream: (
    name: RosettesAndCream,
    
    innerMap:(

        body: (
            background-color: #EF7C8E,
            color: #D8A7B1
        ),

        main: (
            background-color: #ffffff,
            color : #D8A7B1
        ),

        myName :(
            background-color: #B6E2D3,
            color: #D8A7B1
        ),


        navigationPane :(
            background-color: #FAE8E0,
            color: #472E2E
        ),

        
        ThemeButton:(
            background-color: #EF7C8E,
            color: #FAE8E0
        )
        
    )
);