$theme-DeepBlue: (
    html: (
        background-color: #050A30,
        color: #050A30
    ),

    main: (
        background-color: #000C66,
        color : #050A30
    ),

    header :(
        background-color: #0000FF,
        color: #050A30
    ),


    navPane :(
        background-color: #000C66,
        color: #472E2E
    )
);