html {
    font-family: 'Lato', sans-serif;
    background-color: black;
    text-size-adjust: 25px;
    background-attachment: fixed;
}

body {
    width: 60%;
    margin: 10px auto;
    /*The space around the border*/
    background-color: #ffffff;
    padding: 0 20px 20px 20px;
    /*space around the text (0px at the top, 20 to the right, bottom and left*/
    border: 5px solid black;
    /*creates a solid line around the text*/

}
table{
    clear:both;
}

pre {
    white-space: pre-wrap;
    word-wrap: break-word;
    text-align: justify;
  }
.bulletText{
    display: list-item;
}
.header {
    font-weight: bold;
    padding: 20px 5px 5px 5px;
    clear: both;
}

#MyName,
h2 {
    text-align: center;
    text-emphasis: 1;
    font-weight: bold;
    word-wrap: break-word;
}

.outerList {
    list-style: none;
    text-align: left;
}

#UNBList,
#schoolList {
    list-style: circle;
    text-align: left;
}

#UNBList,
#startList {
    float: left;
}

#startSchool {
    clear: both;
}

#schoolList,
#startSchool {
    float: left;
}

#startCS1303,
#cs1303 {
    float: left;
}

#cakePic {
    visibility: hidden;
    list-style: none;
    width: 100%;
    border: dashed #391ed1;
    cursor: pointer;
}

#baking {
    cursor: pointer;
}
